* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    align-items: center;
    background-color: #000;
    justify-content: center;
    margin: 40px 60px;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid red;
    box-shadow: 0 0 15px red;
}

.pregunta {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
}
.pregunta label {
    width: 90px;
}
input {
    padding: 5px 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #fa010167;
   
}
.aviso {
    color: #fff;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: red;
    margin-bottom: 20px;
    margin: 10px 7px 10px 70px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
    font-size: 0.8em;
}
.form-text-aw {
    text-align: center;
    text-wrap: wrap;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   

}