* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { 
    width: 100%;
    vertical-align: top;
    object-fit: cover;

}
.formularioZonas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.zona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 9px;  
}
input {
    padding: 6px 10px;
    font-size: 1em;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px red;

}

input[type='radio']{
    transform: scale(3);
    margin: 20px;
}
nav{
    font-size: 1.3em;
    padding: 15px 12px;
    text-align: center;
}
input[type='submit'],button{
    padding: 8px 16px;
    margin: 2px 10px;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    box-shadow: 1px 1px 10px red;
    cursor: pointer;
}
.aviso {
    font-size: 0.6em;
    color: #fff;
    background-color: red;
    padding: 6px 6px;
}




@media only screen and (min-width:680px) {
    .zonas {
        width: 24.5%;
    }
}